/* font-family: "Inter", sans-serif; */


/* universal style start*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}
h1,h2,h3,h4,h5,h6,a,span,ul,li,ol,p{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* universal style end*/


/* navbar start */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px 120px;
}
.nav-logo img{
    height: 60px;
    width: 139px;
}
.nav-link{
    display: flex;
    gap: 32px;
    
}
.nav-link li a{
    font-weight:  400;
    font-size: 16px;
    color: #000000;
}
.navar-button{
    background: #469165;
    height: 44px;
    width:164px;
    border-radius:4px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navar-button:hover {
    background: #095e2c;
    box-shadow: 0px 10px 20px 0px #00000026;

}   

.navar-button a {
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* navbar end */


/* banner start */

#banner {
    
    background: url("assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    padding: 314px 0 400px ;

}

.banner-top-button-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-top-btn{
    height: 36px;
    width: 250px;
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-top-btn .circle{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #469165;
    
    
}
.outer-circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #7bd09e;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-top-btn p{
    font-size: 16px;
    font-weight: 500;
}
.banner-button{
    display: flex;
    gap: 15px;
}
.banner-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: 20px;
}   
.banner-txt .white-txt{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 0 20px;
   
}  
.banner-txt .green-txt{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
}  
.banner-txt p{
    font-weight: 400;
    font-size: 18;
    color: #FFFFFF;
    line-height: 30px;
    padding: 25px 0;
}
.banner-txt .first-p{
    padding: 0 18px;
}    
    
.banner-button .btn-1{
    height: 45px;
    width: 240px;
    padding-right: 15px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-button .btn-2{
    height: 45px;
    width: 200px;
    padding-left:15px ;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.banner-button .btn-1 a,
.banner-button .btn-2 a{
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.banner-button .btn-1:hover,
.banner-button .btn-2:hover{
    background-color: #469165;
    border: none;
    box-shadow: 0px 10px 20px 0px #00000026;

}
.banner-button .btn-1 i{
    color: white;
    cursor: pointer ;
}    
.banner-button .btn-2 i{
    color: white;
    cursor: pointer ;
    background: none;
}    
   
/* banner end */

/* notes part start */
#notes{
    background-color: #FAF9F6;
    padding-top: 50px;
}
.notes-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notes-txt h4{
    font-weight: 700;
    font-size: 48px;
    color: #001931; 

}    
.notes-txt p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 10px;


} 
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 36px;
}   
.card-box{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px #0000000F;
    border-radius: 8px;
    padding: 0px 11px 22px 10px;

    
}
.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 58px 14px 58px;
}    
.icon-circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-txt h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 15px;

}    
.card-txt p{
    font-size: 16px;
    font-weight: 400;
    color:#627382;
}    
.card-txt .title-break{
    padding: 0 21px;
}    

/* notes part end */

    
/* knowledge part start */
#knowledge{
    padding: 100px 0;
}
.knowledge-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.knowledge-image img{
    height:600px ;
    width:600px ;
    border-radius: 12px;
}
.knowledge-content h5{
    font-weight: 500;
    font-size: 18px;
    color: #469165; 
    margin-bottom: 20px;
}

.knowledge-content h1{
    font-weight: 700;
    font-size: 48px;
    color:  #001931;
    margin-bottom: 16px;
}
.knowledge-content p{
    font-weight: 400;
    font-size: 16px;
    color:  #001931;
    line-height: 20px;
    color: #627382;
    

}
.key-points{
    display: flex;
    gap: 8px;
    margin-top: 16px;
    
}
.key-points-grp{
    padding: 20px 0;
}
.key-points p{
    font-weight: 500;
    font-size: 16px;
    color:  #001931;
    line-height: 20px;
    color:#001931;



}
/* knowledge part end */





 /* ready to think part start  */
 #ready{
    padding-bottom: 50px;
    margin-bottom: 50px;
 }
 .ready-container{
    background-color:#FAF9F6 ;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    border-radius: 12px;
 }
 .ready-container .btn-1{
    height: 50px;
    width: 260px;
    background-color: #469165;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 19px;
    cursor: pointer;
}
.ready-container .btn-1 a{
    color: white;
}
.ready-container .btn-1 i{
    color: white;
}
.ready-container .btn-1:hover{
    background-color: #1f6b3f;
    border: none;
    box-shadow: 0px 10px 20px 0px #00000026;

    
}
.ready-container .btn-1:hover a{
    color: white;
}
.ready-container .btn-1:hover i{
    color: white;
}
.ready-container h3{
    font-weight: 700;
    font-size: 40px;
    color: #001931;
    margin-bottom: 20px;
 
}
.ready-container p{
    font-weight: 400;
    font-size: 16px;
    color: #627382;
;
 
}
 /* ready to think part end  */


/* footer part start */
#footer{
    background-color: #001931;
    

}
.footer-container{
    background-color: #001931;
    
}
.top-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 56px;

    
}
.footer-links h6{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}
.footer-links h6,ul,li,i{
    color: white;
}
.footer-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
}
.footer-bottom p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    padding-bottom: 30px;
}
/* footer part end */