/* font-family: "Inter", sans-serif; */


/* universal style start*/
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    
}
h1,h2,h3,h4,h5,h6,a,span,ul,li,ol{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* universal style end*/


/* navbar start */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px 120px;
}
.nav-logo img{
    height: 60px;
    width: 139px;
}
.nav-link{
    display: flex;
    gap: 32px;
    
}
.nav-link li a{
    font-weight:  400;
    font-size: 16px;
    color: #000000;
}
.navar-button{
    background: #469165;
    height: 44px;
    width:164px;
    border-radius:4px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navar-button:hover {
    background: #095e2c;
}   

.navar-button a {
    color: #FFFFFF;
}
/* navbar end */
